# Compare para_sim from imod python to imod5's para_sim.

In [1]:
import pandas as pd

In [9]:
DF = pd.DataFrame()

In [10]:
with open('para_sim_iM5.inp') as f:
    iM5 = f.readlines()

In [11]:
for L in iM5:
    no_com = L.split('!')[0]
    if '=' in L:
        P = no_com.split('=')[0].strip()
        V = no_com.split('=')[1].strip()
        DF.loc[P, 'iM5'] = V

In [12]:
with open('para_sim_iMPy.inp') as f:
    iMPy = f.readlines()

In [13]:
for L in iMPy:
    no_com = L.split('!')[0]
    if '=' in L:
        P = no_com.split('=')[0].strip()
        V = no_com.split('=')[1].strip()
        DF.loc[P, 'iMPy'] = V

In [15]:
DF['match'] = DF['iM5'] == DF['iMPy']

In [18]:
DF.loc[DF['match'] == False]

                 iM5     iMPy  match
dtgw        1.000000      1.0  False
dtsw        1.000000      1.0  False
idbg        0.000000      0.0  False
svat_sav           1           False
idf_dx      25.00000     25.0  False
idf_dy      25.00000     25.0  False
idf_nodata  -9999.00  -9999.0  False
idf_sx             0      NaN  False
idf_sy             0      NaN  False
tdbg             NaN      0.0  False